:root {
    --light-one: #f1f1f1;
    --light-two: #dbdbdb;
    --light-three: #aaaaaa;

    --dark-one: #212121;
    --dark-two: #797979;

    --highlight: #cf7456;

    --primary: var(--light-one);
    --secondary: var(--dark-one);
    --tertiary: var(--light-two);
    --quaternary: var(--dark-two);
    --quinary: var(--light-three);
}

/* @media (prefers-color-scheme:dark) {
    :root {
        --primary: var(--dark-one);
        --secondary: var(--light-one);
    }
} */

body {
    font-family: "Roboto", sans-serif;
    max-width: 1500px;
    margin: auto;
    color: var(--secondary);
    background-color: var(--primary);
    font-size: 12pt;
}

* {
    transition: 150ms linear;
}

#title {
    font-size: 64pt;
    text-align: center;
}

#description {
    font-size: 28pt;
    text-align: center;
}

input[type="file"] {
    display: none;
}

#file-upload-label {
    color: var(--quaternary);
    display: inline-block;
    padding: 0.8rem;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20pt;
    border: 1px solid var(--quinary);
    margin-right: 10px;
    margin-bottom: 10px;
}

#file-upload-label:hover,
#file-upload-label:focus {
    border-color: var(--secondary);
    color: var(--secondary);
}

#submit-file {
    padding: 14px 28px;
    font-size: 20pt;
    border: none;
    border-radius: 8px;
    background-color: var(--highlight);
    color: white;
    cursor: pointer;
}

#submit-file:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;
}

.conversation button {
    padding: 14px 28px;
    font-size: 20pt;
    border: none;
    border-radius: 8px;
    background-color: var(--highlight);
    color: white;
    cursor: pointer;
}

.conversation button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
}