:root {
    --light-one: #f1f1f1;
    --light-two: #dbdbdb;
    --light-three: #aaaaaa;

    --dark-one: #212121;
    --dark-two: #797979;

    --highlight: #cf7456;

    --primary: var(--light-one);
    --secondary: var(--dark-one);
    --tertiary: var(--light-two);
    --quaternary: var(--dark-two);
    --quinary: var(--light-three);
}

/* @media (prefers-color-scheme:dark) {
    :root {
        --primary: var(--dark-one);
        --secondary: var(--light-one);
    }
} */

body {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: auto;
    color: var(--secondary);
    background-color: var(--primary);
    font-size: 12pt;
}

* {
    transition: 150ms linear;
}

#title {
    font-size: 40pt;
    text-align: center;
}

input[type="file"] {
    display: none;
}

#file-upload-label {
    color: var(--quaternary);
    display: inline-block;
    padding: 0.25rem;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--quinary);
}

#file-upload-label:hover,
#file-upload-label:focus {
    border-color: var(--secondary);
    color: var(--secondary);
}

#submit-file {
    font-size: 14pt;
}