<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #cf7456;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #963d1f;
      }
  </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinder</title>
    <link rel="stylesheet" href="/static/tinder.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="/static/tinder.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  </head>
  <body class="body">
    <ul> 
      <li><a href="/">Home</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/tinder">Tinder</a></li>
      <li><a href="/dynamic_schedule">Schedule</a></li>
  </ul>
  {% block body %}{% endblock %}
  <br>
  <br>
    <div class="tinder">
        <div class="tinder--status">
          <i class="fa fa-remove"></i>
          <i class="fa fa-heart"></i>
        </div>
      
        <div class="tinder--cards">
        </div>
      
        <div class="tinder--buttons">
          <button id="nope"><i class="fa fa-remove"></i></button>
          <button id="love"><i class="fa fa-heart"></i></button>
        </div>
      </div>
  </body>
</html>