{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/static/tinder.css" />
{% endblock %}

{% block body %}

<div class="home">
  <h1 id="title">Cinder</h1>
</div>
<br>
<hr width="50%">
<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">

  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
{% endblock %}